body{
  background-color: #B2C7DF;
  margin: 0px;
  
  
}

header{
  background-color: rgba(27, 26, 94, 0.72);
  display: grid;
  grid-auto-flow: column;
}

.logo{
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100px;
  height: auto;
}

.title{
  padding-top: 4rem;
  padding-right: 5rem;
  color: white;
  text-transform: uppercase;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 56px;
  text-align: center;
}

form{
  display: grid;
  grid-auto-flow: row;
  max-width: 500px;
  padding-left: 20px;
}

label{
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  
}

input{
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.57);
  height: 25px;
  border: none;
  padding-left: 10px;
  font-family: 'Alegreya Sans SC';
}

.submit-btn{
  background-color: #1B1A5E;
  color: white;
  border-radius: 10px;
  font-family: 'Anaheim';
  font-size: 16px;
  width: 225px;
  height: 35px;
  margin:  0 auto;


}

#section-form{
  display: grid;
  grid-auto-flow: column;
}

th{
  background: rgba(64, 123, 255, 0.55);
  border: 1px solid #767373;
  min-width: 110px;
  font-family: 'Alegreya Sans SC';

}

td{
  text-align: center;
}